* {
  box-sizing: border-box;
}

body {
  width: 50%;
  margin: auto;
  font-size: 24px;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  padding: 3%;
}

#taskInput {
  display: block;
  font-size: 120%;
  margin: auto;
  padding: 0.3em;
  text-align: center;
  width: 80%;
}

.task-item > div {
  display: flex;
  align-items: center;

  border-bottom: 1px solid rgba(1, 1, 1, 0.3);
  border-left: 1px solid rgba(1, 1, 1, 0.3);
  border-right: 1px solid rgba(1, 1, 1, 0.3);
  border-top: 1px solid rgba(1, 1, 1, 0.3);
  box-shadow: 0 7px 5px -7px rgba(1, 1, 1, 0.1);
}

ul > li:nth-last-of-type(1) > div{
  border-radius: 0 0 0 5px;
}

.task-item button {
  border: none;
  background: rgba(1, 1, 1, 0);
  cursor: pointer;
  font-size: 0.95rem;
}

.task-item p {
  margin: 0;
  padding: 3% 0 3% 4%;
}

.top-level > ul {
margin-bottom: 1.5rem;
}

.flex-right {
  flex: 0 0 auto;
}

.flex-left {
  flex: 1 1 100%;
}

.collapsed {
  margin-bottom: 1rem;
}

.collapsed ul {
  display: none;
}

.collapsed li {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding-left: 0.75rem;
}

li {
  font-size: 90%;
}